.online-consultation-container {
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onlineConsultationButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Remove border from CCard */
.online-consultation-container .ccard {
  border: none !important;
  box-shadow: none !important;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .online-consultation-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .online-consultation-container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .online-consultation-container {
    padding: 0;
  }

  .onlineConsultationButton {
    flex-direction: column;
    align-items: center;
  }
}

/* .online-consultation-container .dynamic-table-container {
  margin-top: 50px;
} */