.qa-container {
  margin-top: 10px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 0;
  padding-bottom: 30px;
  }
  
  .qa-title {
    text-align: center;
  }
  
  .qa-item {
    margin-bottom: 20px;
  }
  
  .qa-question {
    font-weight: bold;
    font-family: 'Century';
  }
  
  .qa-answer {
    font-size: 18px;
    margin-top: -18px;
    color: #6c757d;
  }
  