.PricingPackagesContainer {
  padding: 50px 20px; /* Mobile view ke liye padding adjust ki */
}

.PricingPackagesTitle {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.pricingPackagesCards {
  row-gap: 15px; /* Cards ke beech ka gap thoda kam kiya */
}

.PricingPackagesContainer .custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 12px; /* Pehle 15px tha, ab 12px kiya */
  border-radius: 8px; /* Thoda corner radius chhota kiya */
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); /* Shadow bhi halka kiya */
  background-color: white;
}

/* Image Hide */
.PricingPackagesContainer .custom-card .card-image {
  display: none;
}
