.tableMyReports .custom-btn{
  margin-left: 10px;
}

.my-report-container {
  padding: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.table-responsive {
  margin-top: 20px;
}

.tableMyReports {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Remove border from CCard */
.tableMyReports .ccard {
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .my-report-container {
    padding: 0;
  }
}