.my-report-container {
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportActionButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tableMyReports .ccard {
  border: none !important;
  box-shadow: none !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .my-report-container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .reportActionButton {
    flex-direction: column;
    align-items: center;
  }
}
