/* BetterEquipmentContent.css */
.better-equipment-container {
    padding: 80px 20px;
}

.better-equipment-heading {
    color: #343a40;
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.better-equipment-description {
    color: #6c757d;
    font-size: 18px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px;
}

.better-equipment-button-container {
    display: flex;
    justify-content: center;
}

.equipment-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .better-equipment-heading {
        font-size: 32px;
    }
    .better-equipment-description {
        font-size: 16px;
    }
    .better-equipment-container .equipment-image{
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .better-equipment-container {
        padding: 40px 10px;
    }
    .better-equipment-heading {
        font-size: 28px;
    }
    .better-equipment-description {
        font-size: 14px;
    }
}
