.appointmentSchedule-container {
  padding: 0;  /* Remove padding */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointmentSchedule-container .dynaminContentText .headind_fullcard{
  margin-bottom: -30px;
}

.dropdown_filter {
  margin-left: 20px;
  margin-top: 50px;
}

.dropdown_filter .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: white !important; /* Button white */
  border: 1px solid #ccc; /* Optional border for better visibility */
}

.dropdown_filter .dropdown-toggle svg {
  font-size: 1.2rem;
  color: black !important; /* Icon black */
}

/* .dropdown_filter .dropdown-menu {
  min-width: 200px;
} */

.dropdown_filter .dropdown-item label {
  cursor: pointer;
}


.scheduleAppointmentButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Remove border from CCard */
.appointmentSchedule-container .ccard {
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 760px) {
  .dropdown_filter{
    margin-left: 280px;
  }
}

@media (max-width: 670px){
  .dropdown_filter{
    margin-left: 250px;
  }
}

@media (max-width: 650px){
  .dropdown_filter{
    margin-left: 250px;
  }
}

@media (max-width: 620px) {
  .dropdown_filter{
    margin-left: 220px;
  }
}
@media (max-width: 590px){
  .dropdown_filter{
    margin-left: 180px;
  }
}

@media (max-width: 540px){
  .dropdown_filter{
    margin-left: 180px;
  }
}

@media (max-width: 510px){
  .dropdown_filter{
    margin-left: 170px;
  }
}

@media (max-width: 490px){
  .dropdown_filter{
    margin-left: 80px;
  }
}

@media (max-width: 400px){
  .dropdown_filter{
    margin-left: 90px;
  }
}