.appointmentSchedule-container {
  padding: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-table {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.shadow-lg {
  max-width: 1000px;
  width: 100%;
}

CButton {
  cursor: pointer;
}
