.appointmentSchedule-container {
  padding: 0;  /* Remove padding */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduleAppointmentButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Remove border from CCard */
.appointmentSchedule-container .ccard {
  border: none !important;
  box-shadow: none !important;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .appointmentSchedule-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .appointmentSchedule-container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .appointmentSchedule-container {
    padding: 0;
  }

  .scheduleAppointmentButton {
    flex-direction: column;
    align-items: center;
  }
}
