.bookAppointments-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.bookAppointment-card {
  width: 60%;
  display: flex;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}

.bookAppointment-card-body {
  display: flex;
  width: 100%;
  align-items: center;
}

.left {
  flex: 1;
}

.middle {
  flex: 2;
  padding: 0 15px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Spacing between buttons */
}

.doctor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.doctor-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.clinic-name,
.address,
.contact-number,
.status,
.rate,
.location,
.close-on,
.open-on {
  font-size: 14px;
  color: #555;
  margin-bottom: 0px;
}

.price{
  font-size: 14px;
  color: #555;
  margin-bottom: 0px;
  margin-top: 0px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
